In [106]:
import pandas as pd
from sqlalchemy import create_engine

In [107]:
original_population_file = "Resources/population_growth_rate.csv"
original_population_data_df = pd.read_csv(original_population_file)

In [108]:
original_gdp_file = "Resources/gdp_per_capita.csv"
original_gdp_data_df = pd.read_csv(original_gdp_file)

In [109]:
original_happiness_2015_file = "Resources/world_happiness_report_2015.csv"
original_happiness_2016_file = "Resources/world_happiness_report_2016.csv"
original_happiness_2017_file = "Resources/world_happiness_report_2017.csv"
original_happiness_2018_file = "Resources/world_happiness_report_2018.csv"
original_happiness_2019_file = "Resources/world_happiness_report_2019.csv"

original_happiness_2015_data_df = pd.read_csv(original_happiness_2015_file)
original_happiness_2016_data_df = pd.read_csv(original_happiness_2016_file)
original_happiness_2017_data_df = pd.read_csv(original_happiness_2017_file)
original_happiness_2018_data_df = pd.read_csv(original_happiness_2018_file)
original_happiness_2019_data_df = pd.read_csv(original_happiness_2019_file)

In [110]:
population_data_df = original_population_data_df[['name_long', 'POP_GROWTH_RT','YEAR']].copy()
population_data_df = population_data_df.rename(columns={"name_long": "country",
                                                          "POP_GROWTH_RT": "PGR",
                                                          "YEAR": "year"})
population_data_df.drop_duplicates("country", inplace=True)
population_data_df.set_index("country", inplace=True)

population_data_df.head()

                  PGR  year
country
Aruba        3.134888  1960
Afghanistan  1.813677  1960
Angola       1.803005  1960
Anguilla          NaN  1960
Albania      3.015423  1960

In [166]:
gdp_data_df = original_gdp_data_df[['Country', '2014','2015','2016','2017','2018']].copy()
gdp_data_df = gdp_data_df.rename(columns={"Country": "country"})
gdp_data_df.drop_duplicates("country", inplace=True)
gdp_data_df.set_index("country", inplace=True)
# gdp_data_df[gdp_data_df['2014'].apply(lambda x: str(x).isdigit())]
# gdp_data_df[gdp_data_df['2015'].apply(lambda x: str(x).isdigit())]
# gdp_data_df[gdp_data_df['2016'].apply(lambda x: str(x).isdigit())]
# gdp_data_df[gdp_data_df['2017'].apply(lambda x: str(x).isdigit())]
# gdp_data_df[gdp_data_df['2018'].apply(lambda x: str(x).isdigit())]
gdp_data_df.drop(gdp_data_df.loc[gdp_data_df['2014']=='..'].index, inplace=True)
gdp_data_df.drop(gdp_data_df.loc[gdp_data_df['2015']=='..'].index, inplace=True)
gdp_data_df.drop(gdp_data_df.loc[gdp_data_df['2016']=='..'].index, inplace=True)
gdp_data_df.drop(gdp_data_df.loc[gdp_data_df['2017']=='..'].index, inplace=True)
gdp_data_df.drop(gdp_data_df.loc[gdp_data_df['2018']=='..'].index, inplace=True)
#gdp_data_df = pd.to_numeric(gdp_data_df["2018"], downcast="float")

gdp_data_df["2014"] = pd.to_numeric(gdp_data_df["2014"], downcast="float")
gdp_data_df["2015"] = pd.to_numeric(gdp_data_df["2015"], downcast="float")
gdp_data_df["2016"] = pd.to_numeric(gdp_data_df["2016"], downcast="float")
gdp_data_df["2017"] = pd.to_numeric(gdp_data_df["2017"], downcast="float")
gdp_data_df["2018"] = pd.to_numeric(gdp_data_df["2018"], downcast="float")


#gdp_data_df.to_csv('out.csv')
# gdp_data_clean =pd.DataFrame()
#print(len(gdp_data_df))
# for i,row in gdp_data_df.iterrows():
#     try: 
#         gdp_data_clean[i] = pd.to_numeric(row, downcast="float")
#     except: 
#         print(i)
#         gdp_data_df.drop(inplace=True)
#         passgdp_data_df["2014"] = pd.to_numeric(gdp_data_df["2014"], downcast="float")

In [167]:
gdp_mean_data=gdp_data_df[["2014","2015","2016","2017", "2018"]].mean(axis=1)

In [168]:
gdp_mean_data_df=gdp_mean_data.to_frame(name="GDP_per_capita")
len(gdp_mean_data_df)
gdp_mean_data_df.head()

                     GDP_per_capita
country
Afghanistan             1762.599976
Albania                11427.599609
Algeria                13805.000000
Angola                  6297.200195
Antigua and Barbuda    22253.000000

In [169]:
happiness_2015_data_df = original_happiness_2015_data_df[['Country', 'Happiness Score']].copy()
happiness_2016_data_df = original_happiness_2016_data_df[['Country', 'Happiness Score']].copy()
happiness_2017_data_df = original_happiness_2017_data_df[['Country', 'Happiness.Score']].copy()
happiness_2018_data_df = original_happiness_2018_data_df[['Country or region', 'Score']].copy()
happiness_2019_data_df = original_happiness_2019_data_df[['Country or region', 'Score']].copy()

happiness_2015_data_df = happiness_2015_data_df.rename(columns={"Country": "country",
                                                               "Happiness Score": "happiness_score"})
happiness_2016_data_df = happiness_2016_data_df.rename(columns={"Country": "country",
                                                               "Happiness Score": "happiness_score"})
happiness_2017_data_df = happiness_2017_data_df.rename(columns={"Country": "country",
                                                               "Happiness Score": "happiness_score"})
happiness_2018_data_df = happiness_2018_data_df.rename(columns={"Country or region": "country",
                                                               "Score": "happiness_score"})
happiness_2019_data_df = happiness_2019_data_df.rename(columns={"Country or region": "country",
                                                               "Score": "happiness_score"})

happiness_2015_data_df.drop_duplicates("country", inplace=True)
happiness_2016_data_df.drop_duplicates("country", inplace=True)
happiness_2017_data_df.drop_duplicates("country", inplace=True)
happiness_2018_data_df.drop_duplicates("country", inplace=True)
happiness_2019_data_df.drop_duplicates("country", inplace=True)
happiness_2015_data_df.set_index("country", inplace=True)
happiness_2016_data_df.set_index("country", inplace=True)
happiness_2017_data_df.set_index("country", inplace=True)
happiness_2018_data_df.set_index("country", inplace=True)
happiness_2019_data_df.set_index("country", inplace=True)

In [170]:

len(happiness_2015_data_df)

158

In [171]:
len(happiness_2019_data_df)

156

In [172]:
happiness_merged_data_df=pd.merge(happiness_2015_data_df, happiness_2016_data_df, left_index=True, right_index=True)

In [173]:
happiness_merged_data_df=pd.merge(happiness_merged_data_df, happiness_2017_data_df, left_index=True, right_index=True)

In [174]:
happiness_merged_data_df=pd.merge(happiness_merged_data_df, happiness_2018_data_df, left_index=True, right_index=True)

In [175]:
happiness_merged_data_df=pd.merge(happiness_merged_data_df, happiness_2019_data_df, left_index=True, right_index=True)

<ipython-input-175-6ed7ec5af108>:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'happiness_score_x'} in the result is deprecated and will raise a MergeError in a future version.
  happiness_merged_data_df=pd.merge(happiness_merged_data_df, happiness_2019_data_df, left_index=True, right_index=True)

In [176]:
len(happiness_merged_data_df)
happiness_merged_data_df.columns

Index(['happiness_score_x', 'happiness_score_y', 'Happiness.Score',
       'happiness_score_x', 'happiness_score_y'],
      dtype='object')

In [177]:
happiness_mean_data=happiness_merged_data_df[["happiness_score_x","happiness_score_y","Happiness.Score","happiness_score_x", "happiness_score_y"]].mean(axis=1)

In [178]:
happiness_mean_data_df=happiness_mean_data.to_frame(name="happiness_score")
len(happiness_mean_data_df)

141

#Happiness score mean per country

In [179]:

happiness_mean_data_df.head()

             happiness_score
country
Switzerland         7.513333
Iceland             7.511778
Denmark             7.548667
Norway              7.541444
Canada              7.354444

In [180]:
GDP_happiness_df=pd.merge(happiness_mean_data_df, gdp_mean_data_df, left_index=True, right_index=True)

In [181]:
len(GDP_happiness_df)

126

In [182]:
GDP_happiness_population_df=pd.merge(GDP_happiness_df, population_data_df, left_index=True, right_index=True)

In [183]:
len(GDP_happiness_population_df)

126

In [184]:
#GDP_happiness_population_df.drop(['year'], axis='columns', inplace=True)
GDP_happiness_population_df.head()

             happiness_score  GDP_per_capita       PGR  year
country
Switzerland         7.513333    57834.000000  2.172274  1960
Iceland             7.511778    46052.601562  1.795327  1960
Denmark             7.548667    46462.000000  0.665279  1960
Norway              7.541444    64414.601562  0.839369  1960
Canada              7.354444    43447.199219  2.298627  1960

In [185]:
GDP_happiness_population_df.drop(columns=["year"] , inplace=True)

In [186]:
GDP_happiness_population_df.head()

             happiness_score  GDP_per_capita       PGR
country
Switzerland         7.513333    57834.000000  2.172274
Iceland             7.511778    46052.601562  1.795327
Denmark             7.548667    46462.000000  0.665279
Norway              7.541444    64414.601562  0.839369
Canada              7.354444    43447.199219  2.298627