In [14]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
original_population_file = "Resources/population_growth_rate.csv"
original_population_data_df = pd.read_csv(original_population_file)

In [18]:
original_gdp_file = "Resources/gdp_per_capita.csv"
original_gdp_data_df = pd.read_csv(original_gdp_file)

In [19]:
original_happiness_2015_file = "Resources/world_happiness_report_2015.csv"
original_happiness_2016_file = "Resources/world_happiness_report_2016.csv"
original_happiness_2017_file = "Resources/world_happiness_report_2017.csv"
original_happiness_2018_file = "Resources/world_happiness_report_2018.csv"
original_happiness_2019_file = "Resources/world_happiness_report_2019.csv"

original_happiness_2015_data_df = pd.read_csv(original_happiness_2015_file)
original_happiness_2016_data_df = pd.read_csv(original_happiness_2016_file)
original_happiness_2017_data_df = pd.read_csv(original_happiness_2017_file)
original_happiness_2018_data_df = pd.read_csv(original_happiness_2018_file)
original_happiness_2019_data_df = pd.read_csv(original_happiness_2019_file)

In [27]:
population_data_df = original_population_data_df[['name_long', 'POP_GROWTH_RT','YEAR']].copy()
population_data_df = population_data_df.rename(columns={"name_long": "country",
                                                          "POP_GROWTH_RT": "PGR",
                                                          "YEAR": "year"})
population_data_df.drop_duplicates("country", inplace=True)
population_data_df.set_index("country", inplace=True)

population_data_df.head()

                  PGR  year
country
Aruba        3.134888  1960
Afghanistan  1.813677  1960
Angola       1.803005  1960
Anguilla          NaN  1960
Albania      3.015423  1960

In [28]:
gdp_data_df = original_gdp_data_df[['Country', '2014','2015','2016','2017','2018']].copy()
gdp_data_df = gdp_data_df.rename(columns={"Country": "country"})
gdp_data_df.drop_duplicates("country", inplace=True)
gdp_data_df.set_index("country", inplace=True)

gdp_data_df.head()

                      2014   2015   2016   2017   2018
country
Afghanistan           1796   1767   1757   1758   1735
Albania              10701  10971  11357  11803  12306
Algeria              13549  13774  13940  13876  13886
Angola                6813   6645   6258   6045   5725
Antigua and Barbuda  20821  21426  22394  22856  23768

In [31]:
happiness_2015_data_df = original_happiness_2015_data_df[['Country', 'Happiness Score']].copy()
happiness_2016_data_df = original_happiness_2016_data_df[['Country', 'Happiness Score']].copy()
happiness_2017_data_df = original_happiness_2017_data_df[['Country', 'Happiness.Score']].copy()
happiness_2018_data_df = original_happiness_2018_data_df[['Country or region', 'Score']].copy()
happiness_2019_data_df = original_happiness_2019_data_df[['Country or region', 'Score']].copy()

happiness_2015_data_df = happiness_2015_data_df.rename(columns={"Country": "country",
                                                               "Happiness Score": "happiness_score"})
happiness_2016_data_df = happiness_2016_data_df.rename(columns={"Country": "country",
                                                               "Happiness Score": "happiness_score"})
happiness_2017_data_df = happiness_2017_data_df.rename(columns={"Country": "country",
                                                               "Happiness Score": "happiness_score"})
happiness_2018_data_df = happiness_2018_data_df.rename(columns={"Country or region": "country",
                                                               "Score": "happiness_score"})
happiness_2019_data_df = happiness_2019_data_df.rename(columns={"Country or region": "country",
                                                               "Score": "happiness_score"})

happiness_2015_data_df.drop_duplicates("country", inplace=True)
happiness_2016_data_df.drop_duplicates("country", inplace=True)
happiness_2017_data_df.drop_duplicates("country", inplace=True)
happiness_2018_data_df.drop_duplicates("country", inplace=True)
happiness_2019_data_df.drop_duplicates("country", inplace=True)
happiness_2015_data_df.set_index("country", inplace=True)
happiness_2016_data_df.set_index("country", inplace=True)
happiness_2017_data_df.set_index("country", inplace=True)
happiness_2018_data_df.set_index("country", inplace=True)
happiness_2019_data_df.set_index("country", inplace=True)